body {
    background: black;
    font-family: monospace;
}


h2 {
    color: green;
}

input {
    background-color: darkgray;
    border: 0;
    border-radius: 30px;
    margin: 10px;
}

.add {
    background-color: darkgray;
    border-radius: 20px;
}

.header-container, .number-container {
    color: darkred;
}

.notification-container {
    height: 100px;
}

.personform-container, .personlist-container{
    color: white;
}

.errormessage {
    color: red;
    background: black;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.successmessage {
    color: green;
    background: black;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
