body {
    background-color: black;
    color: gold;
}

input {
    background-color: darkgray;
    border: 0;
    border-radius: 30px;
    margin: 10px;
}

.add {
    background-color: darkgray;
    border-radius: 20px;
}
